@Model ASSIGNMENT03_BRYANHUGHES.Models.Teacher

@{
    ViewBag.Title = "Update";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
    </nav>
    <h2>Update Teacher</h2>
    <form method="POST" action="/Teacher/Update/@Model.TeacherId">
        <div>
            <label for="TeacherFname">First Name:</label>
            <input type="text" name="TeacherFname" id="TeacherFname" value="@Model.TeacherFname" />
        </div>
        <div>
            <label for="TeacherLname">Last Name:</label>
            <input type="text" name="TeacherLname" id="TeacherLname" value="@Model.TeacherLname" />
        </div>
        <div>
            <label for="Salary">Teacher Salary:</label>
            <textarea name="Salary" id="Salary">@Model.Salary</textarea>
        </div>
        <div>
            <label for="EmployeeNumber">Employee Number:</label>
            <input type="text" name="EmployeeNumber" id="EmployeeNumber" value="@Model.EmployeeNumber">
        </div>
        <div>
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>


